.not-found-container {
    height: 616px;

    h1 {
        font-size: 12rem;
        letter-spacing: 1rem;
    }

    h3 {
        font-family: 'open-sans';
        font-size: 1.5rem;
    }

    p {
        max-width: 500px;
        margin: 30px auto;
        color: #444444;
    }
}