.auth-page {
    background-image: url('../home/images/pattern.png');

    .card {
        max-width: 700px;

        strong {
            font-size: 1.2rem;
        }

        .nav-tabs {
            justify-content: center;

                .nav-link {
                    border: 1px solid rgba(0, 0, 0, .1);
                    color: #333;
                    padding-left: 50px;
                    padding-right: 50px;
                    border-bottom: none;

                    &.nav-link.active {
                        border: none;
                        background-color: $red;
                        color: #efefef;
                    }
            }
        }
    }
}