.header {
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
    background-color: #efefef;
    padding: 40px 0;

    .content {

        h3 {
            text-transform: uppercase;
            font-family: 'open-sans';
        }

        nav {

            * {
                color: #444;
                font-size: 1.2rem;
            }

            span {
                font-size: 1rem;
                color: $red;
            }

            a {
                font-size: 1rem;
                @include red-on-hover;
            }
        }
    }
}